################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net7.0
/.vscode
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/MiniPacman
/.vs
/MiniPacman.csproj
MiniPacman.sln
obj/MiniPacman.csproj.nuget.dgspec.json
obj/MiniPacman.csproj.nuget.g.props
obj/MiniPacman.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/_IsIncrementalBuild
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost.exe
obj/Debug/net7.0/MiniPacman.AssemblyInfo.cs
obj/Debug/net7.0/MiniPacman.AssemblyInfoInputs.cache
obj/Debug/net7.0/MiniPacman.assets.cache
obj/Debug/net7.0/MiniPacman.csproj.AssemblyReference.cache
obj/Debug/net7.0/MiniPacman.csproj.BuildWithSkipAnalyzers
obj/Debug/net7.0/MiniPacman.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/MiniPacman.csproj.FileListAbsolute.txt
obj/Debug/net7.0/MiniPacman.dll
obj/Debug/net7.0/MiniPacman.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/MiniPacman.genruntimeconfig.cache
obj/Debug/net7.0/MiniPacman.GlobalUsings.g.cs
obj/Debug/net7.0/MiniPacman.pdb
obj/Debug/net7.0/ref/MiniPacman.dll
obj/Debug/net7.0/refint/MiniPacman.dll
obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Release/net7.0/MiniPacman.AssemblyInfo.cs
obj/Release/net7.0/MiniPacman.AssemblyInfoInputs.cache
obj/Release/net7.0/MiniPacman.assets.cache
obj/Release/net7.0/MiniPacman.csproj.AssemblyReference.cache
obj/Release/net7.0/MiniPacman.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net7.0/MiniPacman.GlobalUsings.g.cs
